@{
    ViewBag.Title = "Home Page";
}

<div class="span12">
    <div class="">
        <!-- latest blog posts -->
        <div class="block span8 first cf" ng-controller="BlogRollController">
            <div class="title-wrapper">
                <h3 class="widget-title">latest blog posts</h3>
                <div class="clear"></div>
            </div>
            <div ng-repeat="post in posts" ng-include="'Templates/blog_post.html'"></div>
        </div>
        <!-- end latest blog posts -->
    </div>
    <div class="span4">
        <div class="first widget">
            <form role="search" method="get" id="searchform" class="searchform" action="/search">
                <div>
                    <input value="" name="s" id="s" type="text" />
                    <input value="post" name="post_type" type="hidden" />
                </div>
            </form>
        </div>
        <div class="widget">
            <div class="title-wrapper">
                <h3 class="widget-title"> Calendar of Events</h3>
                <div class="clear"></div>
            </div>
            <div class="wcontainer">
                <div id="calendar">
                    <mwl-calendar
                        view="calendarView"
                        current-day="calendarDay"
                        events="events"
                        view-title="calendarTitle">
                    </mwl-calendar>
                    <div class="c-title dark-gray-3level">
                        <div class="left-button">&lsaquo;</div>
                        <div class="right-button">&rsaquo;</div>
                        <div class="title">February 2012</div>
                    </div>

                    <table class="c-days">
                        <thead class="light-gray">
                        <tr>
                            <th>Sun</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thu</th>
                            <th>Fri</th>
                            <th>Sat</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="simple-lightgray">
                            <td class="other-month"><span>29</span></td>
                            <td class="other-month"><span>30</span></td>
                            <td class="other-month"><span>31</span></td>
                            <td class="mark"><span>1</span></td>
                            <td><span>2</span></td>
                            <td class="mark"><span>3</span></td>
                            <td class="sunday"><span>4</span></td>
                        </tr>
                        <tr class="simple-lightgray">
                            <td><span>5</span></td>
                            <td><span>6</span></td>
                            <td><span>7</span></td>
                            <td><span>8</span></td>
                            <td><span>9</span></td>
                            <td><span>10</span></td>
                            <td class="today sunday"><span>11</span></td>
                        </tr>
                        <tr class="simple-lightgray">
                            <td><span>12</span></td>
                            <td><span>13</span></td>
                            <td class="mark-blue"><span>14</span></td>
                            <td><span>15</span></td>
                            <td><span>16</span></td>
                            <td><span>17</span></td>
                            <td class="sunday"><span>18</span></td>
                        </tr>
                        <tr class="simple-lightgray">
                            <td><span>19</span></td>
                            <td><span>20</span></td>
                            <td><span>21</span></td>
                            <td><span>22</span></td>
                            <td><span>23</span></td>
                            <td><span>24</span></td>
                            <td class="sunday"><span>25</span></td>
                        </tr>
                        <tr class="simple-lightgray">
                            <td><span>26</span></td>
                            <td><span>27</span></td>
                            <td><span>28</span></td>
                            <td><span>29</span></td>
                            <td class="other-month"><span>1</span></td>
                            <td class="other-month"><span>2</span></td>
                            <td class="other-month"><span>3</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="legend">
                    <span class="swatch-today"></span><span class="swatch-label"> - Current Day</span>
                    <span class="swatch-blue"></span><span class="swatch-label"> - Coil Raids</span>
                    <span class="swatch-green"></span><span class="swatch-label"> - Low Level Assist</span>
                </div>
            </div>
        </div>
        <div class="widget">
            <div class="title-wrapper">
                <h3 class="widget-title"> Recent Forum Activity</h3>
                <div class="clear"></div>
            </div>
            <div class="wcontainer">
                <ul class="review">
                    <li>
                        <div class="info">
                            <a href="#">Post title goes here</a>
                            <br />
                            <small>Last comment:<br /></small>
                            <small>
                                <i class="icon-calendar"></i> May 13th, 2015 - by
                                <i class="icon-user"></i> UserName
                            </small>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <li>
                        <div class="info">
                            <a href="#">Post title goes here</a>
                            <br />
                            <small>
                                <i class="icon-calendar"></i> May 13th, 2015 -
                                <i class="icon-comment"></i> 5 Comments
                            </small>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="widget">
            <div class="title-wrapper">
                <h3 class="widget-title"> Ventrilo Status</h3>
                <div class="clear"></div>
            </div>
            <div class="wcontainer">
                <div class="vent">
                    <script type="text/javascript" src="//www.typefrag.com/Server-Status/script.aspx?id=5e75f0b5-645b-48bf-a0cc-f43865023d16"></script>
                </div>
            </div>
        </div>
    </div>
</div>